[submodule "module/jul"]
	path = module/jul
	url = https://github.com/openbase/jul.git
[submodule "module/openhab-binding-rsb"]
	path = module/openhab-binding-rsb
	url = https://github.com/openbase/openhab-binding-rsb.git
[submodule "module/bco.authentication"]
	path = module/bco.authentication
	url = https://github.com/openbase/bco.authentication.git
[submodule "module/bco.registry.editor"]
	path = module/bco.registry.editor
	url = https://github.com/openbase/bco.registry.editor.git
[submodule "module/bco.registry"]
	path = module/bco.registry
	url = https://github.com/openbase/bco.registry.git
[submodule "module/bco.dal"]
	path = module/bco.dal
	url = https://github.com/openbase/bco.dal.git
[submodule "module/bco.psc"]
	path = module/bco.psc
	url = https://github.com/openbase/bco.psc.git
[submodule "module/bco.eveson"]
	path = module/bco.eveson
	url = https://github.com/openbase/bco.eveson.git
[submodule "module/bco.ontology.lib"]
	path = module/bco.ontology.lib
	url = https://github.com/openbase/bco.ontology.lib.git
[submodule "module/bco.ontology"]
	path = module/bco.ontology
	url = https://github.com/openbase/bco.ontology.git
[submodule "module/bco.manager"]
	path = module/bco.manager
	url = https://github.com/openbase/bco.manager.git
[submodule "module/bco.bcozy"]
	path = module/bco.bcozy
	url = https://github.com/openbase/bco.bcozy
[submodule "module/bco.stage"]
	path = module/bco.stage
	url = https://github.com/openbase/bco.stage.git
